<?xml version='1.0' encoding='utf-8'?>

<?include product.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	
  <Bundle Name="$(var.ProductName)"
	  Version="$(var.ProductVersion)"
	  Manufacturer="$(var.ProductManufacturer)"
	  UpgradeCode="F6C62D07-BCF4-43E3-B7D0-8EA3B5DC642C"
		DisableModify="yes">
		
	  <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
		  <bal:WixStandardBootstrapperApplication LicenseUrl="" SuppressOptionsUI="yes" />
	  </BootstrapperApplicationRef>
		
		<Chain>
		  <MsiPackage Id="Dep1" SourceFile="files/soft/sqlncli_x86_ru.msi" Visible="yes" Cache="no" Permanent="yes"
			  InstallCondition="NOT VersionNT64">
				<MsiProperty Name="IACCEPTSQLNCLILICENSETERMS" Value="YES" />
			</MsiPackage>
				
		  <MsiPackage Id="Dep1_64" SourceFile="files/soft/sqlncli_x64_ru.msi" Visible="yes" Cache="no" Permanent="yes"
			  InstallCondition="VersionNT64">
				<MsiProperty Name="IACCEPTSQLNCLILICENSETERMS" Value="YES" />
			</MsiPackage>
			
		  <MsiPackage Id="Dep2" SourceFile="files/soft/msxml6_x86.msi" Visible="yes" Cache="no" Permanent="yes"
			  InstallCondition="NOT VersionNT64">
			</MsiPackage>

		  <MsiPackage Id="Dep2_64" SourceFile="files/soft/msxml6_x64.msi" Visible="yes" Cache="no" Permanent="yes"
			  InstallCondition="VersionNT64">
			</MsiPackage>

      <ExePackage Id="Dep3" SourceFile="files/soft/AccessDatabaseEngine.exe" Cache="no" Permanent="yes"
			  DisplayName="Microsoft Access database engine x64"
			  InstallCommand="/quiet /norestart"
			  InstallCondition="NOT VersionNT64">
			</ExePackage>
			
      <ExePackage Id="Dep3_64" SourceFile="files/soft/AccessDatabaseEngine_X64.exe" Cache="no" Permanent="yes"
			  DisplayName="Microsoft Access database engine x64"
			  InstallCommand="/quiet /norestart"
			  InstallCondition="VersionNT64">
			</ExePackage>

      <ExePackage Id="Dep4" SourceFile="files/soft/dopdf-7.exe" Cache="no" Permanent="yes"
			  InstallCommand="/VERYSILENT /NORESTART">
			</ExePackage>

			<RollbackBoundary />
			
		  <MsiPackage Id="MainPackage" SourceFile="rkc-potch-x86.msi" Vital="yes" Cache="no"
			  InstallCondition="NOT VersionNT64">
			</MsiPackage>
			
		  <MsiPackage Id="MainPackage_64" SourceFile="rkc-potch-x64.msi" Vital="yes" Cache="no"
			  InstallCondition="VersionNT64">
			</MsiPackage>
			
		</Chain>
	</Bundle>
</Wix>